<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MTGJSON Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'MTGJSON Project', root_path, :class => "navbar-item" %>

      <%= link_to 'About', permalink_path(permalink: 'about'), :class => "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Data
        </a>

        <div class="navbar-dropdown">
          <%= link_to 'Card', cards_path, :class => "navbar-item" %>
          <%= link_to 'Element Types', colors_path, :class => "navbar-item" %>
          <%= link_to 'Artists', artists_path, :class => "navbar-item" %>
          <%= link_to 'Rulings', rulings_path, :class => "navbar-item" %>
        </div>
      </div>
  </div>
  </div>
</nav>

  <section class="section">
    <div class="container">
      <%= yield %>
    </div>
  </section>
</html>
